<h1>Popis vozila</h1>
<ul class="list-group">
  <tr *ngFor="let vozilo of vozila" class="list-group-item list-group-item-action" (click)="onVoziloSelected(vozilo)">
    <td class="list-group-item text-light bg-primary"> {{ vozilo.registration }}</td>
    <td class="list-group-item"> {{ vozilo.vin }}</td>
  </tr>
</ul>

<div *ngIf="selectedVozilo" class="card">
  <h2 class="card-header">Detalji o "{{ selectedVozilo.registration }}"</h2>
  <ul>
    <li>Max broj putnika: {{ selectedVozilo.maxNumberOfPassenger }}</li>
    <li>Mjenjač: {{ selectedVozilo.shifter }}</li>
  </ul>
</div>

<div>
  <button (click)="sortVoziloAsc()">Ascending</button>
  <button (click)="sortVoziloDesc()">Descending</button>
</div>

<div>
  <label for="filter">Filter vin: </label>
  <input id="filter" type="text" #filterValue>
  <button (click)="filterBy(filterValue)">Filter</button>
</div>