
<div>
    <h2>Vozilo Details</h2>
    <table>
            <tr>
                <th>Registration</th>
                <td> {{ vozilo.registration }} </td>

            </tr>
            <tr>
                <th>Vehicle Identification Number</th>
                <td> {{ vozilo.vin}} </td>
            </tr>
            <tr>
                <th>Max number of Passengers</th>
                <td> {{ vozilo.maxNumberOfPassenger}}</td>

            </tr>
            <tr>
                <th>Shifter</th>
                <td> {{ vozilo.shifter}}</td>
            </tr>
            <tr>
                <th>A/C</th>
                <td> {{ vozilo.airConditioning }}</td>
            </tr>
            <tr>
                <th>Number of Doors</th>
                <td> {{ vozilo.numberOfDoors }}</td>
            </tr>
            <tr>
                <th>Fuel type</th>
                <td> {{ vozilo.fuelType }}</td>
            </tr>
        <tr>
        </tr>
    </table>

    <button (click)="return()">Return</button>
</div>

