<div>
    <h2>{{"reviewDetails.header" | translate}}</h2>
    <form [formGroup]="reviewForm" (ngSubmit)="updateReview()">
      <div>
        <label>{{"reviewDetails.title" | translate}}</label>
        <input type="text" formControlName="title">
      </div>
      <div>
        <label>{{"reviewDetails.text" | translate}}</label>
        <textarea formControlName="text"></textarea>
      </div>
      <div>
        <label>{{"reviewDetails.grade" | translate}}</label>
        <input type="number" formControlName="grade">
      </div>
      <div>
          <p>{{"reviewDetails.selectVehicle" | translate}}</p>
          <select [(ngModel)]="selectedVoziloId" name="vozilo" formControlName="vozilo">
            <option *ngFor="let vo of vozila" [value]="vo.id">
                {{vo.registration}}
            </option>
          </select>
      </div>

      <button type="submit">{{"reviewDetails.save" | translate}}</button>
      <button type="button" (click)="return()">{{"reviewDetails.return" | translate}}</button>
    </form>
  </div>
  