<app-navbar></app-navbar>
<h1>{{ "reviewList.header" | translate}}</h1>
<ul class="list-group">

  
    <tr *ngFor="let review of reviews" class="list-group-item list-group-item-action">
      <td class="list-group-item text-light bg-primary"> {{ review.title }}</td>
      <td class="list-group-item"> {{ review.text }}</td>
      <td class="list-group-item"> {{ review.grade }}</td>
      <td class="list-group-item"> {{ review.vozilo.registration}}</td>
      <td class="list-group-item"> {{ review.user.username}}</td>
      <td>
        <button (click) = "onReviewClick(review.id)" >{{ "reviewList.details" | translate}}</button>
        <button (click) = "deleteReview(review.id)">{{ "reviewList.delete" | translate}}</button>
    </td>
    </tr>
  </ul>

  <div>
    <form  [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">{{ "reviewList.title" | translate}}</label>
        <input type="text" id="title" name="title" formControlName="title">
      </div>
  
      <div *ngIf="reviewForm.controls.title.invalid && (reviewForm.controls.title.dirty || reviewForm.controls.title.touched)" class="displayError">
        <div *ngIf="reviewForm.controls.title.errors?.['required']">
          {{ "reviewList.titleReq" | translate}}
        </div>
        <div *ngIf="reviewForm.controls.title.errors?.['pattern']">
          {{ "reviewList.titleReqFormat" | translate}}
        </div>
      </div>

      <div class="form-group">
        <label for="text">{{ "reviewList.text" | translate}}</label>
        <input type="text" id="text" name="text" formControlName="text">
      </div>


      <div *ngIf="reviewForm.controls.text.invalid && (reviewForm.controls.text.dirty || reviewForm.controls.text.touched)" class="displayError">
        <div *ngIf="reviewForm.controls.text.errors?.['required']">
          {{ "reviewList.textReq" | translate}}
        </div>
        <div *ngIf="reviewForm.controls.text.errors?.['pattern']">{{ "reviewList.textReqFormat" | translate}}</div>
      </div>

      <div class="form-group">
        <label for="grade">{{ "reviewList.grade" | translate}}</label>
        <input type="number" id="grade" name="grade" formControlName="grade">
      </div>


      <div *ngIf="reviewForm.controls.grade.invalid && (reviewForm.controls.grade.dirty || reviewForm.controls.grade.touched)" class="displayError">
        <div *ngIf="reviewForm.controls.grade.errors?.['required']">
          {{ "reviewList.gradeReq" | translate}}
        </div>
        <div *ngIf="reviewForm.controls.grade.errors?.['pattern']">
          {{ "reviewList.gradeReqFormat" | translate}}
        </div>
      </div>
  
      <p>{{ "reviewList.selectVehicle" | translate}}</p>
      <select [(ngModel)]="selectedVoziloId" name="vozilo_id" formControlName="vozilo_id">
        <option *ngFor="let vo of vozila" [value]="vo.id">
            {{vo.registration}}
        </option>
      </select>
      
  
      <button type="submit" [disabled]="!reviewForm.valid">{{ "reviewList.submit" | translate}}</button>
    </form>
  </div>
  
  <button (click)="returnToHome()">{{ "reviewList.return" | translate}}</button>
  