<div>
    <h2>{{'voziloDetails.title' | translate}}</h2>
    <table>
      <tr>
        <th>{{'voziloDetails.registration' | translate}}</th>
        <td>{{ vozilo?.registration }}</td>
      </tr>
      <tr>
        <th>{{'voziloDetails.vin' | translate}}</th>
        <td>{{ vozilo?.vin }}</td>
      </tr>
      <tr>
        <th>{{'voziloDetails.maxNumOfPass' | translate}}</th>
        <td>{{ vozilo?.maxNumberOfPassenger }}</td>
      </tr>
      <tr>
        <th>{{'voziloDetails.shifter' | translate}}</th>
        <td>{{ vozilo?.shifter }}</td>
      </tr>
      <tr>
        <th>{{'voziloDetails.ac' | translate}}</th>
        <td>{{ vozilo?.airConditioning }}</td>
      </tr>
      <tr>
        <th>{{'voziloDetails.doorsNum' | translate}}</th>
        <td>{{ vozilo?.numberOfDoors }}</td>
      </tr>
      <tr>
        <th>{{'voziloDetails.fuelType' | translate}}</th>
        <td>{{ vozilo?.fuelType }}</td>
      </tr>
      <tr>
        <th>{{'voziloDetails.reviewsHeader' | translate}}</th>
        <td>
          <table>
            <thead>
              <tr>
                <th>{{'voziloDetails.reviewsTitle' | translate}}</th>
                <th>{{'voziloDetails.reviewsText' | translate}}</th>
                <th>{{'voziloDetails.reviewsGrade' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let review of reviews">
                <td>{{ review.title }}</td>
                <td>{{ review.text }}</td>
                <td>{{ review.grade }}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  
    <button (click)="return()">{{'voziloDetails.return' | translate}}</button>
  </div>
  